<footer>
    <a href="perfil"><img style="width: 50px;" src="/img/icone_perfil.png" alt="Icone para acessar a página de perfil"></a><br>
    <a href="index"><img style="width: 80px;" src="/img/icone_casa.png" alt="Icone para acessar a página inicial"></a><br>
    <a href="config"><img style="width: 50px;" src="/img/engrenagem.png" alt="Icone para acessar as configurações"></a>
</footer>