<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Caronar</title>
      
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/app.css">
  </head>

  <body>
    {{{body}}}
    <div class="bottom-nav">

    </div>
    <footer>
      <div class="app-container">
        <div class="menu-inferior">
          <a href="perfil"><img
              style="width: 50px;"
              src="/img/icone_perfil.png"
              alt="Icone para acessar a página de perfil"
            /></a><br />
        </div>
        <div class="home">
          <a href="index"><img
              style="width: 80px;"
              src="/img/icone_casa.png"
              alt="Icone para acessar a página inicial"
              id="icon-central"
            /></a><br />
        </div>
        <a href="" onclick="alert('Em breve')"><img
            style="width: 50px;"
            src="/img/engrenagem.png"
            alt="Icone para acessar as configurações"
          /></a>
      </div>
    </footer>
  </body>
</html>