<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Caronar</title>

  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/solicitarCorrida.css">

  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet/dist/leaflet.css"
  />
</head>

<body>
  {{{body}}}

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/js/solicitarCorrida.js"></script>
</body>
</html>