<div class="main-container form-card">

  <h4 class="text-white text-center mb-3">Atualizar Perfil</h4>

  <form action="/atualizar" method="POST" enctype="multipart/form-data">

    <label>Foto de perfil</label>
    <input type="file" name="fotoPerfil" class="form-control">

    <label>Nome</label>
    <input type="text" name="cadastroNome" class="form-control">

    <label>Email</label>
    <input type="email" name="cadastroEmail" class="form-control">

    <label>Nova Senha</label>
    <input type="password" name="cadastroSenha" class="form-control">

    <button class="btn btn-white mt-2">Salvar</button>
  </form>

</div>
