<div class="app-page">

  <div class="card">

    <h3 class="card-titulo">Atualizar Perfil</h3>

    <form action="/atualizar" method="POST" enctype="multipart/form-data" class="form-padrao">

      <label>Foto de perfil</label>
      <input type="file" name="fotoPerfil">

      <label>Nome</label>
      <input type="text" name="cadastroNome" value="{{usuario.nome}}">

      <label>Email</label>
      <input type="email" name="cadastroEmail" value="{{usuario.email}}">

      <label>Nova Senha</label>
      <input type="password" name="cadastroSenha">

      <button type="submit" class="btn-principal">Salvar</button>

    </form>

  </div>

</div>
