<div class="card-historico">
  <a href="/index">← Voltar a Página Inicial</a>
</div>

<div class="app-page">
  <div class="app-header">Histórico de Corridas</div>

  {{#each corridas}}
    <div class="card-historico">
      <p><strong>De:</strong> {{this.partida}}</p>
      <p><strong>Para:</strong> {{this.chegada}}</p>
      <p><strong>Preço:</strong> R$ {{this.preco}}</p>
    </div>
  {{/each}}
</div>


