<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <main class="painel">
        <div class="app-page">

  <div class="lista-opcoes">

    <div class="opcao">
      <span>
        <a href="solicitarCorrida">Solicitar Corrida</a>
      </span>
      <img src="/img/lupa.png">
    </div>

    <div class="opcao">
      <span>Informações do Trânsito</span>
      <img src="/img/info.png">
    </div>

    <div class="opcao">
      <span><a href="historico">Histórico de Corridas</a></span>
      <img src="/img/historico.png">
    </div>
  </div>
</div>

    </main>
</body>

</html>