<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <main class="painel">
        <section>
            <a href="solicitarCorrida"><button>
                    Solicitar Corridar
                    <img src="/img/icone-lupa.png" alt="icone-lupa" class="icones">
                </button></a>
        </section>
        <section>
            <a href="">
                <button>
                    Informações do Trânsito
                    <img src="/img/icone-informacao.png" alt="icone-informações" class="icones">
                </button>
            </a>
        </section>
        <section>
            <a href="historico">
                <button>
                    Histórico de Corridas
                    <img src="/img/icone-historico.png" alt="icone-informações" class="icones">
                </button>
            </a>
        </section>
    </main>
</body>

</html>