<div class="corrida-container">

  <h2 style="text-align:center; color:white; margin-top:20px;">
    Motorista encontrado
  </h2>

  <div class="card-motorista">
    <p><strong id="nomeMotorista"></strong></p>
    <p id="avaliacaoMotorista"></p>
  </div>

  <button id="confirmarMotorista">
    Confirmar Motorista
  </button>

</div>

<script src="/js/motoristaEncontrado.js"></script>
