<div class="corrida-container">

  <h2 style="text-align:center; color:white; margin-top:20px;">
    Confirmar Pagamento
  </h2>

  <div class="card-pagamento">
    <p>Transporte: <strong id="resumoTransporte"></strong></p>
    <p>Motorista: <strong id="resumoMotorista"></strong></p>
    <p>Valor: <strong id="resumoPreco"></strong></p>
  </div>

  <button id="confirmarCorrida">
    Finalizar Corrida
  </button>

</div>

<script src="/js/pagamento.js"></script>
