<div class="main-container">

  <div class="perfil-topo">
    <img src="{{usuario.fotoPerfil}}" class="perfil-img">
    
    <div class="perfil-info">
      <strong>{{usuario.nome}}</strong>
      <p>{{usuario.idade}} anos</p>
      <p>Passageiro</p>
      <p>{{usuario.email}}</p>
    </div>
  </div>

  <div class="card-acao">
    <a href="/atualizarPerfil" class="text-white text-decoration-none">
      Atualizar Informações
    </a>
  </div>

  <div class="card-acao">Virar Motorista</div>
  <div class="card-acao"><form action="/deletar" method="POST" onsubmit="return confirm('Tem certeza que deseja deletar sua conta?');">
        <button type="submit" style="color:black">Deletar Conta</button>
    </form></div>
</div>
<div class="card-acao"><form action="/logout" method="POST">
        <button type="submit">Sair</button></div>
