<div class="app-page">

  <div class="perfil-topo">
    <img src="{{usuario.fotoPerfil}}" class="perfil-img">

    <div class="perfil-info">
      <strong>{{usuario.nome}}</strong>
      <p>{{usuario.email}}</p>
      <p>Passageiro</p>
    </div>
  </div>

  <div class="card-acao">
    <a href="/atualizarPerfil">Atualizar Informações</a>
  </div>

  <div class="card-acao">
    Virar Motorista
  </div>

  <div class="card-acao">
    <form action="/deletar" method="POST" onsubmit="return confirm('Tem certeza?')">
      <button type="submit" class="btn-perigo">Excluir Conta</button>
    </form>
  </div>

  <div class="card-acao">
    <form action="/logout" method="POST">
      <button type="submit" class="btn-perigo">Sair</button>
    </form>
  </div>

</div>
