<div class="corrida-container">

  <div class="campo">
    <input type="text" id="partida" placeholder="Localização atual" readonly />
  </div>

  <div class="campo campo-destino">
    <input type="text" id="chegada" placeholder="Para onde você vai?" />
    <button id="selecionarLocal">Buscar</button>
  </div>

  <div id="mapa"></div>
<button id="confirmarCorrida">Confirmar</button>

</div>

<script src="/js/solicitarCorrida.js"></script>
