<div class="corrida-container">

  <div class="campo">
    <input type="text" id="partida" placeholder="Partida" readonly>
  </div>

  <div class="campo">
    <input type="text" id="chegada" placeholder="Chegada">
  </div>

  <div id="mapa"></div>

  <div class="info-corrida">
    <span id="tempo">--:--</span>
    <span id="cidade">---</span>
  </div>

</div>
